<div class="b-header">
        <nav id="top">
      <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
                <div id="top-links" class="nav pull-left">
                    <ul class="b-log-cart list-inline">
                                <li><a href="http://probicyclegroup.com/create-account">Регистрация</a></li>
                      <li><a href="http://probicyclegroup.com/login">Авторизация</a></li>
              <li><div id="cart" class="btn-group btn-block">
              <button type="button" data-toggle="dropdown" data-loading-text="Загрузка..." class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fa fa-shopping-cart"></i> <span id="cart-total">Корзина (0)</span></button>
              <ul class="dropdown-menu pull-right">
                    <li>
                  <p class="text-center">Ваша корзина пуста!</p>
                </li>
                  </ul>
            </div>
            </li>
                    </ul>
                  </div>
            </div>
            <div class="col-md-6">
                <div id="top-links-add" class="nav pull-right">
                    <ul class="b-garant-del list-inline">
                      <li>
                        <div class="b-currency">
                                      </div>
                      </li>
                      <li><a href="/garantija">гарантия</a></li>
                      <li><a href="/oplata-i-dostavka">Оплата и доставка</a></li>
                    </ul>
                  </div>
              </div>
        
          </div>
        </div>
      
        </nav>
        <header>
          <div class="col-md-12 container">
            <div class="row">
              <div class="text-left col-sm-12 col-xs-12 col-md-4 text-h-left" style="position: relative; padding-top: 10px; padding-left: 5px;">
                <span style="text-transform: uppercase; color: #282737; letter-spacing: 3.2px; font-size: 18px; font-weight: bold;">продажа велосипедов</span><br>
                <span style="color: #ca1f27; font-weight: bold; font-size: 24px; letter-spacing: -1px;">CYCLONE, WINNER, KINETIC</span><br>
                <span style="text-transform: uppercase; color: #282737; letter-spacing: 0.5px; font-size: 16px; font-weight: bold;">оптом с доставкой по Украине</span>
              </div>
              <div class="clearfix b-logo-holder col-xs-12 col-sm-12 col-md-5">
                            <a class="logo text-center" href="http://probicyclegroup.com/"><img src="http://probicyclegroup.com/image/catalog/logo_new.png" title="Pro Bicycle Group" alt="Pro Bicycle Group" class="img-responsive"></a>
                        </div>
              <div class="b-search-info clearfix text-right col-xs-12 col-sm-12 col-md-3">
                <div class="b-phone-place pull-right col-xs-12">
                  <span class="place">Украина, Харьков</span>
                  <br>
                  <a class="phone-main" href="tel:+38(096)192-79-48"><span>+38(096)192-79-48</span></a>
                  <br>
                              <a class="phone-main" href="tel:+38(095)949-87-15"><span>+38(095)949-87-15</span></a>
                  <br>
                                                      <a class="mail-main" href="mailto:winnerbicycle@gmail.com">winnerbicycle@gmail.com</a>
                </div>
                <div class="b-search-holder pull-right col-xs-12">
                  <div id="search" class="input-group">
        <input type="text" name="search" value="" placeholder="Поиск" class="form-control input-lg">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
        </span>
      </div>          </div>
              </div>
            </div>
          </div>
        </header>
        <div id="b-top-menu" class="">
          <div class="b-sidr-contr">
            <div id="mobile-header">
              <a id="responsive-menu-button" href="#sidr-main">
                <i class="fa fa-bars fa-2x"></i>
              </a>
            </div>
          </div>
          <div class="b-mega-h">
            
                    <script type="text/javascript" src="../../assets/megamenu.js"></script>
        <div class="container">
          <nav id="megamenu-menu" class="navbar">
            <div class="navbar-header"><span id="category" class="visible-xs">Меню</span>
              <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">                            
                <li class="dropdown">           
            <a href="http://probicyclegroup.com" data-target="link">Главная</a>
                </li>
                                        <li><a href="http://probicyclegroup.com/specials">Акции</a></li>
                                        <li><a href="novinki">Новинки</a></li>
                                        <li><a href="velosipedy">Велосипеды</a></li>      
                <li class="dropdown"> 
            <a href="velozapchasti" class="dropdown-toggle dropdown-img" data-toggle="dropdown">Комлектующие</a>
                       <div class="dropdown-menu megamenu-type-category-full megamenu-bigblock" style="width: 1479px; margin-left: -708.963px; display: none;">
                    <div class="dropdown-inner">
        <ul class="list-unstyled megamenu-haschild">
                <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/rulevye">Рулевые</a>
                </li>
                 <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/ramy">Рамы</a>
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/pedali">Педали</a>

                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/osi-ekstsentriki">Оси, эксцентрики</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/saddle">Седло</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/spitsy">Спицы</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/schitki-gripsy">Щитки, грипсы</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/shatuny-zvezdy">Шатуны, звезды</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/tsep">Цепь</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/tormoza">Тормоза</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/oboda">Обода</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/manetki-revo-shifty-monobloki">Манетки, Рево-шифты, Моноблоки</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/vtulki">Втулки</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/vilki">Вилки</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/bagazhniki">Багажники</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/aksessuary">Аксессуары</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/vynosy-rulja-glagoly">Выносы руля, подседельные штыри</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/dropauty">Дропауты</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/kassety-treschetki">Переключатели, кассеты, трещетки</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/kartridzhi">Картриджи</a>
                
                        
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/kamery-pokryshki">Камеры, покрышки</a>
     
                </li>
                                        <li class="megamenu-parent-block"><a class="megamenu-parent-title" href="http://probicyclegroup.com/velozapchasti/bmx-komponenty">BMX компоненты</a>
                </li>
                                </ul>
                                  </div>            
              </div>
    
                </li>
                 
                <li class="dropdown">
            
            <a href="about_us" data-target="link">О нас</a>
    
                </li>

                                        <li><a href="http://probicyclegroup.com/kontakty">Контакты</a></li>
                                        <li><a href="http://probicyclegroup.com/predstaviteli">Где купить</a></li>
              </ul>
            </div>
          </nav>
        </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>