/* You can add global styles to this file, and also import other style files */
.carousel-item.active{
  text-align: center ;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  height: 35px ;
  width: 35px ;
}
.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
  color:red;
  cursor: pointer;
}
